version: '3' 
services:
  tensorflow_python3_jupyter:
    image: openkbs/tensorflow-python3-jupyter
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tensorflow-python3-jupyter
    environment:
      PASSWORD: ${PASSWORD:-ChangeMe!}
      ENABLE_HTTPS: 'false'
      #ENABLE_HTTPS: 'true'
      VOLUME: '/home/developer/notebooks'
      DOCKER_USER: 'developer'
      DOCKER_GROUP: 'developer'
    restart: always
    ports:
      - 26006:6006
      - 28888:8888
    env_file:
      - ./.env
    volumes:
      - ./notebooks:/home/developer/notebooks
      - ./data:/home/developer/data
      - ./logs:/home/developer/logs
      - ./workspace:/home/developer/workspace

