# NLP Processing
nltk
networkx
gensim

# NLP Toolkit
nltk
tqdm
spacy

# ML Packages
keras
torch

# Spark, PySpark
findspark
Flask
gensim
langdetect
networkx
pyspark


# ONNX tools
skl2onnx
tf2onnx
keras2onnx

# ONNX
onnx
onnxmltools
onnxruntime
