# PyYAML
pyyaml>=5.1

# Jupyter Editor Auto-complete
#jupyter-tabnine
jedi
robotkernel

# plot
matplotlib

# NLP Processing
nltk
networkx
gensim

# NLP Toolkit
nltk
gensim

# Spacy
#spacy
#neuralcoref

# ML Packages: PyTorch, Lightning, Transformers
keras
torch
transformers
pytorch-lightning
pytorch-pretrained-bert

# Spark, PySpark
findspark
pyspark

# Web REST API
Flask
langdetect

# Graphviz, Network Node-Edge
pydot
networkx

# Visual tools
tqdm

# Google
gdown

# ONNX tools
skl2onnx
tf2onnx
keras2onnx

# ONNX
onnx
onnxmltools
onnxruntime
